


.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
      "wdth" 100;

}
  /*  nav */
  nav h3{
    font-weight: bolder;
    font-size: 28px;
    margin-top: 28px;
    margin-left: 50px;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


.bg-image{
    
background-image: url('../assets/Hero-bg.png');
background-size: cover;
height: 652px;
left: 0;
right: 0;
top: 131px;


}

.pro-image{
   margin-top: 26px;
   margin-left:599px ;
   margin-right: 599px;

}

.content-inside-banner{
   
  max-width: 998px;
  max-height: 309px;
  text-align: center;
  margin-left: 221px;
   
}
.contact-btn{

width: 244px;
height: 65px;

border-radius: 8px;

background-color: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-weight: 600;
font-size: 20px;
margin-left: 598px;
margin-top: 22px;
margin-bottom: 45px;
}


/* font style */
.extra-bold{
    font-weight:bolder;
    font-size: 48px;
    color:#0D1321;
    max-width: 998px;
    max-height: 136px;
}
.banner-paragraph{
    max-width: 752px;
    margin-left: 350px;
    font-size: 16px;
    color:rgb(13, 19, 33);
    text-align: center;
    
}

.section2{
  max-width: 1140px;
  max-height: 1395px;
  margin: 74px 152px 90px 148px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
}

.why-web{
  
  text-align: center;
  padding-top: 80px;
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 48px
}

.why-web-head{
  font-weight: bolder;
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
}
.why-web-paragraph{
  text-align: center;
  font-size: 16px;
  margin-bottom: 48px;
}
.section-with-image{
    margin-bottom: 128px;
}

.section-with-image1{
  display: flex;
  margin-bottom: 32px;
  max-height: 336px;
  


  
}


.div-1{
  background-color: #FFFFFF;
  margin-left: 97px;
  padding-right: 98px;
  padding-left: 48px;
  padding-bottom: 32px;
  
  
}

.max-width-height{
  max-width: 477px;
}

.div-heading{
  font-size: 24px;
  font-weight: bold;
  color: rgba(13, 19, 33, 0.7);
}
.div-paragraph{
  color: rgba(13, 19, 33, 1);
  font-size: 16px;
}
.img-1{
  background-color: #FFFFFF;
  margin-right: 97px;
}
.margin-bottom{
  padding-bottom: 128px;
}

.learn-more-btn{
  max-width: 171px;
  max-height: 47px;
  font-weight: 600;
  font-size: 20;
  color: #0D1321;
  padding:12px 20px;
}


/* section 3 */
.section-3{
  max-width: 1140px;
  max-height: 775px;
  text-align: center;
  margin-left: 152px;
  
}

.video{
  margin-top:0px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

/* section 4 */
.section-4{
margin-top: 218px;
  max-width: 1140px;
  padding-left:148px;
 
  
}

.divs-html-css{
  display: flex;
  gap: 24px;

  
}
.html{
  background-color: rgba(255, 76, 30, 0.05);
  width: 364px;
  border-radius: 16px;
  padding: 40px ;
}
.css{
  background-color: rgba(0, 76, 232, 0.05);
  width: 364px;
  border-radius: 16px;
  padding: 40px ;
}
.javascript{
  background-color: rgba(255, 223, 0, 0.05);
  width: 364px;
  border-radius: 16px;
  padding: 40px ;

}
.link{
  color: #0D1321;
  font-weight: bold;
}
/* section 5 */

.section-5{
margin-top: 54px;
text-align: center;
max-width: 1140px;
padding: 64px 48px;
margin-left: 150px;
margin-right: 200px;
background-image: url('../assets/handshake.jpg');
background-size:cover;
border-radius: 16px;




}
.form-class{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
main input[type="text"]{
  width: 100%;
  max-width: 548px;
  min-height: 57px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: rgba(13, 19, 33, 0.4);
  padding-left: 20px;
 
}
main input[type="submit"]{
  width: 100%;
  max-width: 120px;
  min-height: 57px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: 700;
}
.support-header{
  font-weight:bold;
  font-size: 32px;
  
  color: #FFFFFF;
}
.support-paragraph{
  font-size: 16px;
  color: #FFFFFF;
}

