
.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /*  nav */
  nav h3{
    font-weight: bolder;
    font-size: 28px;
    margin-top: 28px;
    margin-left: 50px;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


.bg-image{
    
background-image: url('../assets/Hero-bg.png');
background-size: cover;
height: 652px;
left: 0;
right: 0;
top: 131px;


}

.pro-image{
   margin-top: 26px;
   margin-left:599px ;
   margin-right: 599px;

}

.content-inside-banner{
   
  max-width: 998px;
  max-height: 309px;
  text-align: center;
  margin-left: 221px;
   
}
.contact-btn{

width: 244px;
height: 65px;

border-radius: 8px;

background-color: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-weight: 600;
font-size: 20px;
margin-left: 598px;
margin-top: 22px;
margin-bottom: 45px;
}


/* font style */
.extra-bold{
    font-weight:bolder;
    font-size: 48px;
    color:#0D1321;
    max-width: 998px;
    max-height: 136px;
}
.banner-paragraph{
    max-width: 752px;
    margin-left: 350px;
    font-size: 16px;
    color:rgb(13, 19, 33);
    text-align: center;
    
}

.section2{
  max-width: 1140px;
  max-height: 1393px;
  margin: 74px 152px 90px 148px;
  background-color: rgba(13, 19, 33, 0.02);
}

.why-web{
  
  text-align: center;
}
.section-with-image1{
  display: flex;
}



/* section 3 */
.section-3{
  max-width: 1140px;
  max-height: 775px;
  text-align: center;
  margin-left: 152px;
  
}